<div id="<%= dom_id company %>">
  <br> <!-- Agregar un salto de línea aquí -->
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <br> <!-- Agregar un salto de línea aquí -->
  <p>
    <strong>Description:</strong>
    <%= company.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= company.start_date %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= company.country %>
  </p>

</div>
